<div id="main" class="text-center border-bottom" style="height: 600px;">
    <div class="row align-items-center">
        <div class="col-md-2">
            <img id="img2"  src="../images/girl.img.png" alt="Girl Eating Ice Cream" class="img-fluid">
        </div>
        <div class="col-md-8 mt-5" style="height: 200px;">
            <h2 class="fst-italic">Real ice cream for real ice cream lovers</h2>
            <p class="fst-italic">
                Welcome to eCream, your ultimate destination for heavenly ice cream delights! Indulge in a world where every bite brings pure joy and every scoop is crafted with love and passion.
            </p>
            <div>
                <button id="buy" class="btn btn-primary rounded"><i class="bi bi-cart2"></i> BUY ONLINE</button>
                <button class="btn btn-secondary rounded-sm"><i class="bi bi-geo-alt"></i> FIND IN STORE</button>
            </div>
        </div>
        <div class="col-md-2">
            <img  id="img1"  src="../images/icecream.img.png" alt="Ice Cream Cone" class="img-fluid">
        </div>
    </div>
</div>