
<div class="container" style="height: 100px;">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-5">
        <div class="col-md-3 mb-2 mb-md-0">
            <h4 class="text-white">eCream</h4>
        </div>
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white me-4">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white me-4">Products</a></li>
            <li><a href="#" class="nav-link px-2 text-white me-4">About</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href=""><i class="bi bi-instagram text-white me-2"></i></a>
            <a href=""><i class="bi bi-twitter text-white me-2"></i></a>
            <a href=""><i class="bi bi-facebook text-white me-2"></i></a>
            <button id="themeToggle" class="btn btn-outline-light">
                <i class="bi bi-sun-fill"></i>
            </button>
        </div>
    </header>
</div>